<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>health+</title>
    <link rel="stylesheet" th:href="@{/css/cadastroFeito.css}">
  </head>
   
  <body>
    <div class="container">
      <div class="image-container">
         <img th:src="@{../img/gif2.gif}" alt="">
      </div>
            <label for="username">CADASTRO FEITO COM SUCESSO!</label>
            <a th:href="@{/login}"><button class="btn-login" type="button">LOGIN</button></a>
    </div>
  </body>
</html>