<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>health+</title>
        <link rel="stylesheet" th:href="@{/css/cadastro.css}">
    </head>
    
    <body>
       <h2>Cadastro</h2>
          <form th:action="@{/cadastrar}" method="post" th:object="${user}">
             <img th:src="@{../img/nomeicon.png}" alt="">
                <label for="nome">Nome</label>
                <input type="text" id="nome" required placeholder="Nome" th:field="*{nome}">
        <br>
                <label for="sobrenome">Sobrenome</label>
                <input type="text" id="sobrenome" required placeholder="Sobrenome" th:field="*{sobrenome}">
        <br>
                <label for="username">Usuário</label>
                <input type="text" id="username" required placeholder="Exemplo: meunomeesobrenome" th:field="*{username}">
        <br>
                <label for="password">Senha</label>
                <input type="password" id="password" required placeholder="Senha" th:field="*{password}">
        <br>
                <label for="dob">Data de Nascimento</label>
                <input type="text" id="dob" required placeholder="dd/mm/aaaa" th:field="*{dob}">
        <br>
                <label for="technology">Gênero</label>
                <select id="technology" th:field="*{technology}" required>
                   <option id="technology" value="masculino" th:field="*{technology}">Masculino</option>
                   <option id="technology" value="feminino" th:field="*{technology}">Feminino</option>
                   <option id="technology" value="outro" th:field="*{technology}">Outro</option>
                </select>
        <br>
        <br>
                <input type="submit" value="CADASTRAR">
           </form>  
    </body>
</html>