<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>health+</title>
  <link rel="stylesheet" th:href="@{/css/dieta.css}">
</head>

  <body>
    <div class="container">
      <div class="image-container">
         <img th:src="@{../img/gif3.gif}" alt="">
      </div>
      <div class="dieta">DIETA IDEAL
      </div>
            <div>manhã: ...</div>
            <div>tarde: ...</div>
            <div>noite: ...</div>
    </div>
  </body>
</html>