@font-face {
    font-family: RetroGaming;
    src: url(../font/RetroGaming.ttf)
  }


body {
    font-family: RetroGaming;
    margin: 0;
    padding: 0;
    background-image: url(../img/background2.png);
}

h2 {
    text-align: center;
    margin-top: 30px;
    color: #fff;
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #F9F3DD;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, textarea {
    display: block;
    margin-top: 10px;
    color: #333;
}

input[type="text"],
input[type="date"],
input[type="user"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    font-family: RetroGaming;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #F5B3CF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #BB698D;
}

textarea {
    width: 100%;
    height: 83px;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    input[type="submit"] {
        padding: 12px;
    }
}
